<template>
    <div class="application__list__component app__component">
        <div class="inner-content column" v-for="(group, index) in groupedElements" :key="index">
            <AtomApplication :item="item" v-for="item in group" :key="item.id" @click="handleApplication(item.id)" />
        </div>
    </div>
</template>

<script setup lang="ts">
const toast = useToast()
const applicationList = ref([
    {
        id: "1",
        name: "App Store",
        icon: "Reminders.svg"
    },
    {
        id: "2",
        name: "FaceTime",
        icon: "FaceTime.svg"
    },
    {
        id: "3",
        name: "Music",
        icon: "Music.svg"
    },
    {
        id: "4",
        name: "Safari",
        icon: "Safari.svg"
    },
    {
        id: "5",
        name: "Photos",
        icon: "Photos.svg"
    },
    {
        id: "6",
        name: "TV",
        icon: "TV.svg"
    },
    {
        id: "7",
        name: "Messages",
        icon: "Messages.svg"
    },
    {
        id: "8",
        name: "Mail",
        icon: "Mail.svg"
    },
    {
        id: "9",
        name: "LinkedIn",
        icon: "Podcasts.svg"
    },
])

const ITEM_PER_COLUMN = 5;

const groupedElements = [] as any[];

for (let i = 0; i < applicationList.value.length; i += ITEM_PER_COLUMN) {
    groupedElements.push(applicationList.value.slice(i, i + ITEM_PER_COLUMN));
}

const handleApplication = (id: string) => {
    const application = applicationList.value.find(item => item.id === id)

    if(!application) return;

    processApplicationByName(application.name)

}

const openExternalLink = (link: string) => {
    const linkFormated = new URL(link)
    window.open(linkFormated.href, "_blank")
}

const openLink = (link: string) => {
    location.href = link
}

const processApplicationByName = (applicationName: string) => {
    const applicationNameLowerCase = applicationName.toLowerCase()
    switch (applicationNameLowerCase) {
        case "linkedin":
            openExternalLink("https://www.linkedin.com/in/saint-cyr-kpe")
            break;
        case "linkedin":
        case "mail":
            openLink("mailto:saintcyrwin@gmail.com?subject=Prenons un café")
            break;
    
        default:
            alert(`Vous avez choisi: ${applicationName}. Cette fonctionnalité sera disponible très bientôt.`)
            toast.add({ 
                title: `Vous avez choisi: ${applicationName}`,
                description: `Cette fonctionnalité sera disponible très bientôt.`
            })
            break;
    }
}
</script>

<style lang="scss" scoped>
.application__list__component {
    display: flex;
    padding: 1rem;

    .column {
        width: 15%;
    }
}
</style>