<template>
    <div class="folder__list__component app__component">
        <div class="inner-content column" v-for="(group, index) in groupedElements" :key="index">
            <AtomFolder :item="item" v-for="item in group" :key="item.id" />
        </div>
    </div>
</template>

<script setup lang="ts">
const folderList = ref([
    {
        id: "1",
        name: "CURRICULUM VITAE"
    },
    {
        id: "2",
        name: "MON PORTFOLIO"
    }
])

const ITEM_PER_COLUMN = 6;

const groupedElements = [] as any[];

for (let i = 0; i < folderList.value.length; i += ITEM_PER_COLUMN) {
  groupedElements.push(folderList.value.slice(i, i + ITEM_PER_COLUMN));
}

console.log({groupedElements})
</script>

<style lang="scss" scoped>
.folder__list__component{
    padding: 1rem;
    .column{
        width: 8.33%;
    }
}
</style>