<template>
  <div class="macos__app">
    <app-searchbar ref="searchbar" v-if="showSearchBar"/>
    <NuxtPage/>
    <organism-dock v-if="screenStore.getCurrentScreen !== 'LOGIN' "></organism-dock>
    <OrganismLaunchpad />
    <UNotifications />
  </div>
</template>
<script lang="ts" setup>
useHead({
  titleTemplate: (titleChunk) => {
    return titleChunk ? `${titleChunk} -  MacOS UI, By Saint Cyr` : ' MacOS UI, By Saint Cyr';
  }
})
const showSearchBar = ref(false)
const searchbar = ref(null)
const screenStore = useScreenStore()
onMounted(() => {
  document.addEventListener(
    "keydown",
    (event) => {
      const keyName = event.key;
      if (keyName === "Meta") {
        // do not alert when only Control key is pressed.
        return;
      }

      if(keyName === "Escape") showSearchBar.value = false

      if(event.metaKey && event.ctrlKey){
        showSearchBar.value = true
      }
    },
    false,
  );

  document.addEventListener('click', handleClickOutsideSearchBar);
})

onUnmounted(() => {
  document.removeEventListener('click', handleClickOutsideSearchBar);
})

const handleClickOutsideSearchBar = (event: any) => {

  if(searchbar.value && !event.target.closest('.app__searchbar')){
    showSearchBar.value = false
  }
  
}
</script>
