<template>
    <div class="desktop__component app__component full__component">
        <div class="inner-content">
            
        </div>
    </div>
</template>

<script setup lang="ts">

</script>

<style scoped>

</style>