<template>
    <div class="app__component dock__component" :class="{visible: isVisible}" @mouseover="mouseOver" @mouseleave="mouseLeave">
        <div class="icons">
            <UTooltip :text="icon.title" :popper="{ placement: 'top', arrow: true, offsetDistance: 16 }" v-for="(icon, index) in dockIcons" :key="index">
                <img :src="`/images/icons/${icon.iconName}`" @click="handleDockIconClick(icon.title)" class="icon" alt="">
            </UTooltip>
        </div>
    </div>
</template>

<script setup lang="ts">
const bottomOffset = 20;
const isVisible = ref(false);
const isFocused = ref(false);
const cursorPosition = ref(0)
const { $event } = useNuxtApp()

const dockIcons = [
    {
        title: 'Finder',
        iconName: 'finder.svg'
    },
    {
        title: 'Launchpad',
        iconName: 'launchpad.svg'
    },
    {
        title: 'Safari',
        iconName: 'safari.svg'
    },
    {
        title: 'Message',
        iconName: 'messages.svg'
    },
    {
        title: 'Mail',
        iconName: 'mail.svg'
    },
    {
        title: 'Notes',
        iconName: 'notes.svg'
    },
    {
        title: 'System Settings',
        iconName: 'Contacts.svg'
    },
]

onMounted(() => {
    window.addEventListener('mousemove', handleMouseMove);
})

const handleMouseMove = (ev: MouseEvent) => {
    if(!isFocused.value){
        cursorPosition.value = ev.pageY
        const isBottomReached = cursorPosition.value + bottomOffset > window.innerHeight;
        isVisible.value = isBottomReached;
    }
    
}


onUnmounted(() => {
    window.removeEventListener('mousemove', handleMouseMove);
})

const mouseOver = (event: MouseEvent) => {
    isFocused.value = true;
}

const mouseLeave = (event: MouseEvent) => {
    isFocused.value = false
}

const handleDockIconClick = (dockIconTitle: string) => {
    console.log({dockIconTitle})
    console.log('dockIconTitle.toLowerCase()', dockIconTitle.toLowerCase())
    if(dockIconTitle.toLowerCase() === 'launchpad') {
        $event('modal:launchpad')
    }
}
</script>

<style lang="scss" scoped>
.dock__component{

    position: fixed;
    bottom: 0;
    left: 4%;
    right: 4%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.5rem;
    z-index: 1000;
    transition: transform 0.5s ease-in-out;
    transform: translateY(100%);

    &.visible{
        transform: translateY(-10%);
    }

    .icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .icon{
            max-width: 60px;
            &:not(:last-child){
                // margin-right: .5rem;
            }
        }
    }
}
</style>