<template>
    <div class="app__component launchpad__component">
        <UModal v-model="isOpen" fullscreen class="launchpad__modal">
            <UCard
                :ui="{
                    base: 'h-full flex flex-col',
                    rounded: '',
                    divide: 'divide-y divide-gray-100 dark:divide-gray-800',
                    body: {
                        base: 'grow'
                    }
                }"
            >
                <MoleculeApplicationList />
            </UCard>
        </UModal>
    </div>
</template>

<script setup lang="ts">
const { $listen } = useNuxtApp()
const isOpen = ref(false)
const items = [
  'https://picsum.photos/1920/1080?random=1',
  'https://picsum.photos/1920/1080?random=2',
  'https://picsum.photos/1920/1080?random=3',
  'https://picsum.photos/1920/1080?random=4',
  'https://picsum.photos/1920/1080?random=5',
  'https://picsum.photos/1920/1080?random=6'
]

$listen('modal:launchpad', () => {
    console.log('modal:launchpad')
    isOpen.value = !isOpen.value
})
</script>

<style lang="scss" scoped>

</style>