<template>
    <div class="login__component app__component full__component">
        <div class="inner-content">
            <div class="user-data">
                <div class="avatar">
                    <img src="@/assets/images/avatar.png" alt="avatar" class="img-fluid" />
                </div>
                <span class="username">Utilisateur</span>
            </div>
            <form action="" class="authentication__form" @submit.prevent="login()">
                <input type="password" role="presentation" class="password__input" placeholder="Votre mot de passe"
                    autofocus>
            </form>
        </div>
    </div>
    
</template>

<script setup lang="ts">
const screenStore = useScreenStore()
const login = () => {
    alert('You are successfull login')
    screenStore.setCurrentScreen('DESKTOP')
}
</script>

<style lang="scss" scoped>
.login__component {
        .inner-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            .user-data {
                display: flex;
                flex-direction: column;
                align-items: center;

                .avatar {
                    svg {
                        max-width: 150px;
                        height: auto;
                    }

                }

                .username {
                    font-size: 1.2rem;
                    font-weight: 600;
                    text-shadow: 0px 1px 5px #000000a3;
                    margin-top: -1rem;
                }
            }

            .authentication__form {
                margin-top: 1rem;

                .password__input {
                    border-radius: 20px;
                    padding: 10px;
                    text-align: center;

                    &:focus-visible {
                        outline: none;
                    }
                }
            }



        }
    }
</style>