html,
body{
    height: 100%;
}

.macos__app{
    .app__page{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        &.desktop__bg{
            background-image: url('/assets/images/desktop-light.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .app__component{
            &.full__component{
                .inner-content{
                    min-height: 100vh;
                }
            }
        }


        .launchpad__modal{
            :deep(){
                .shadow-xl{
                    background-color: #dfdfdfed;
                    backdrop-filter: blur(5px);
                }
            }
        }
        
    }
}