<template>
    <div class="app__component application__component text-center">
        <img :src="`/images/icons/${item.icon}`" class="icon application__icon" alt="Application">
        <h5 class="application__name">{{ item.name }}</h5>
    </div>
</template>

<script setup lang="ts">
defineProps({
    item: {
        type: Object as () => { id: string; name: string; icon: string },
        required: true
    }
})
</script>

<style lang="scss" scoped>
.application__component {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .application__icon {
        max-height: 100px;
        padding: .3rem;
    }

    .application__name {
        font-weight: 600;
        font-size: .85rem;
        padding: .2rem;
    }

    // &:hover {
    //     .application__icon {
    //         background-color: rgba(0, 0, 0, .5);
    //     }

    //     .application__name {
    //         background-color: #0E73CC;
    //     }

    // }
}
</style>