<template>
    <div class="app__component folder__component text-center">
        <img src="@/assets/images/icons/folder.svg" class="icon folder__icon" alt="Dossier">
        <h5 class="folder__name">{{ item.name }}</h5>
    </div>
</template>

<script setup lang="ts">
defineProps({
    item: {
        type: Object as () => {id: string; name: string},
        required: true
    }
})
</script>

<style lang="scss" scoped>
.folder__component{
    cursor: pointer;
    margin-bottom: 1rem;
    .folder__icon{
        max-height: 64px;
        display: inline-block;
        padding: .3rem;
    }

    .folder__name{
        font-weight: 600;
        font-size: .85rem;
        display: inline-block;
        padding: .2rem;
    }

    &:hover{
        .folder__icon{
            background-color: rgba(0,0,0,.5);
        }

        .folder__name{
            background-color: #0E73CC;
        }
        
    }
}
</style>