<template>
    <div class="app__component app__searchbar">
        <input type="search" ref="search_input" class="search__input" name="app__searchbar" autofocus placeholder="Spotlight Search" id="search_input">
    </div>
</template>

<script setup lang="ts">
const search_input = ref(null)
onMounted(() => {
    //document.getElementById('search_input')?.autofocus

    if(search_input.value) (search_input.value as any).focus()

})
</script>

<style lang="scss" scoped>
.app__searchbar{
    position: fixed;
    left: 19%;
    top: 9%;
    right: 34%;
    z-index: 1;

    .search__input{
        display: block;
        width: 100%;
        padding: 1rem;
        padding-left: 48px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px #282828;

        &:focus-visible{
            outline: 0;
        }
    }
}
</style>