<template>
    <div class="app__page desktop__bg">
        <OrganismLogin v-if="screenStore.getCurrentScreen === 'LOGIN' " />
        <MoleculeFolderList v-if="screenStore.getCurrentScreen === 'DESKTOP' " />
    </div>
</template>

<script setup lang="ts">
const screenStore = useScreenStore()
const currentScreen = computed(() => screenStore.getCurrentScreen)
</script>

<style scoped>

</style>